.navbar {
    background-color : black;
}
.navbar ul {
    overflow :auto;
}
.navbar li{
     float : right;
     list-style :none;
     margin : 18px 22px;


}
.navbar li a {
    padding : 3px 3px;
    text-decoration : none;
    color : white;
    font-size: 18px;

}
.navbar li a:hover{
    color: grey;
}
